<!DOCTYPE html>
<html
	th:replace="~{base :: parent(~{:: #container}, ~{:: title}, ~{:: script})}">
<head>
<meta charset="UTF-8">
<title th:text="${loggedInUser.name + ' profile'}">User Profile</title>
</head>
<body>
	<div id="container" class="sm:pl-64">
		<div th:if="${loggedInUser}">
			<!-- sidebar if the ADMIN user is logged in -->
			<div th:if="${loggedInUser.role.name == 'ADMIN'}">
				<div th:replace="~{admin/adminSidebar :: sidebar}"></div>
			</div>
			<!-- sidebar if the user is logged in -->
			<div th:unless="${loggedInUser.role.name == 'ADMIN'}">
				<div th:replace="~{user/sidebar :: sidebar}"></div>
			</div>
		</div>

	</div>
</body>
</html>