<!DOCTYPE html>
<html lang="en"
	th:replace="~{base:: parent(~{::#container}, ~{::title}, ~{::script})}">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Reset Password</title>
</head>

<body>
	<div id="container"
		class="min-h-screen grid place-items-center bg-gray-100 dark:bg-gray-900">
		<div
			class="grid grid-cols-12 w-full px-4 md:px-0 transform -translate-y-10">
			<div
				class="col-span-12 md:col-start-3 md:col-span-8 lg:col-start-4 lg:col-span-6">
				<div
					class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
					<form class="space-y-6" th:action="@{/resetPassword}" method="post"
						th:object="${resetPasswordDTO}" novalidate>
						<h3 class="text-3xl font-bold text-gray-900 dark:text-white">Reset
							Your Password</h3>

						<div>
							<label for="email"
								class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
								email</label> <input type="email" th:field="*{email}" name="email"
								id="email" placeholder="Enter your mail ID."
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
								required />
							<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="text-red-900 px-1">Email is required.</p>
						</div>

						<div>
							<label for="phoneNumber"
								class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
								phone number</label> <input type="text" th:field="*{phoneNumber}"
								name="phoneNumber" id="phoneNumber"
								placeholder="Enter your phone number."
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
								required />
							<p th:if="${#fields.hasErrors('phoneNumber')}"
								th:errors="*{phoneNumber}" class="text-red-900 px-1">Phone
								number is required.</p>
						</div>

						<div>
							<label for="password"
								class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New
								password</label> <input type="password" th:field="*{password}"
								name="password" id="password" placeholder="Enter your password."
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
								required />
							<p th:if="${#fields.hasErrors('password')}"
								th:errors="*{password}" class="text-red-900 px-1">Password
								is required.</p>
						</div>

						<button type="submit"
							class="max-w-xs text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		let toastMessage = /*[[${toastMessage}]]*/null;
		let toastType = /*[[${toastType}]]*/null;

		if (toastMessage && toastType) {
			showToast(toastMessage, toastType);
		}
	</script>
</body>

</html>

